* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #232526;
    background: -webkit-linear-gradient(to right, #42422a, #83470f);
    background: linear-gradient(to right, #5153f1, #0f1d24);
    position: relative;
}

#Updata {
    display: none;
}