* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 95vh;
    background: #232526;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(to right, #42422a, #83470f);
    background: linear-gradient(to right, #5153f1, #0f1d24);  

}

#Updata {
    display: none;
}

footer svg {
    position: relative;
    top: 0rem;
}

@media (max-width: 1285px) {

    footer svg {

        top: 2rem;
    }
}

@media (max-width: 952px) {
    footer svg {
        top: 32rem;
    }
}

@media (max-width: 832px) {
    footer svg {

        top: 26rem;
    }
}

@media (max-width: 769px) {
    footer svg {

        top: 18rem;
    }
}

@media (max-width: 672px) {
    thead tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}